What is machine learning?
In Machine Learning, Machine identify the procedure by itdelf with respect to input to perform certain action. it is also called ML Model, Algorithm and BOT. In ML both input and output are known but machine decide by itself that which procedure is suitable for it.

ML includes procedural programs- its like recipie of food- or which are actualy ways to perform certain tasks. In procedural programing we have input.

To write these libraries there are multiple libraries. One of the biggest is Scikit Learn.It:
  
  takes data
  find patterns
  help to evaluate the results.

Dependent and Independent data?
In an hypothetical data of causes of death events dues to heart, Death-Happening is dependent upon other data while Death-Hapening itself is independent. Moreover "x'  represents the dependent while  'y' represents the independent variable.

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
heart_data=pd.read_csv('heart_failure_clinical_records_dataset.csv')
heart_data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

# Creating DATA

In [31]:
#Creating INDEPENDENT data.
X=heart_data.drop('DEATH_EVENT', axis=1)
X

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285

In [32]:
#Creating DEPENDENT data..
Y=heart_data['DEATH_EVENT']
Y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

# Choosing ML Model:

There are multiple ML model but we have to choose as per the requirement. One of the models is RandomForestClassifier. Every model has certain parameters. Performance can be changed using these parameters.

In [36]:

from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.get_params() # showing parameters.

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

# Training/Fitting of Data.

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)

In [45]:
clf.fit(X_train, Y_train) # Now model is trained although not showing anything.

RandomForestClassifier()

# Evaluation of Model

In [47]:
#X_test data is never seen before by the model. Now, trained_model will do prediction regarding test_data. 
predicted_y=clf.predict(X_test)
predicted_y

array([0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0], dtype=int64)

In [48]:
clf.score(X_train, Y_train) # Testing the trained data.

1.0

In [49]:
clf.score(X_test, Y_test) #Testing the test data which 88 percent accurate.

0.8888888888888888

In [65]:
#Improving Model.
for i in range(10,200,10):
    print(f"Running model with {i} estimator \n")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    #n_estimator is parameter took from above list shown by .getparamsa
    print(f"Accuracy is {clf.score(X_test, Y_test)} \n")

Running model with 10 estimator

Accuracy is 0.8333333333333334

Running model with 20 estimator

Accuracy is 0.8777777777777778

Running model with 30 estimator

Accuracy is 0.8444444444444444

Running model with 40 estimator

Accuracy is 0.8888888888888888

Running model with 50 estimator

Accuracy is 0.8777777777777778

Running model with 60 estimator

Accuracy is 0.8777777777777778

Running model with 70 estimator

Accuracy is 0.8666666666666667

Running model with 80 estimator

Accuracy is 0.8777777777777778

Running model with 90 estimator

Accuracy is 0.8888888888888888

Running model with 100 estimator

Accuracy is 0.8777777777777778

Running model with 110 estimator

Accuracy is 0.8555555555555555

Running model with 120 estimator

Accuracy is 0.8666666666666667

Running model with 130 estimator

Accuracy is 0.8666666666666667

Running model with 140 estimator

Accuracy is 0.8777777777777778

Running model with 150 estimator

Accuracy is 0.8444444444444444

Running model with 160 estimator

Accuracy is 0.8666666666666667

Running model with 170 estimator

Accuracy is 0.9

Running model with 180 estimator

Accuracy is 0.8555555555555555

Running model with 190 estimator

Accuracy is 0.8777777777777778

Now, maximum is 88 percent which is found out by putting either 80 or 160 value to i. So, we will give this value i.e 160 or 90 to estimator in order t get directly the best result.

Moreover, model is trained on the basis of some data(X_train, Y_train). Now, trained model is given data( x_test, Y_test) to predict how much this model is accurate. This also implies that how much result of test data is according to train data upon which model is trained.

In [68]:
#Improving Model.
print(f"Running model with {160} estimator \n")
clf = RandomForestClassifier(n_estimators=160).fit(X_train, Y_train)
#n_estimator is parameter took from above list shown by .getparamsa
print(f"Accuracy is {clf.score(X_test, Y_test)} \n")

Running model with 160 estimator

Accuracy is 0.8888888888888888

# Save Model